/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}
.container {
    width: 700px;
    background-color: rgb(235, 232, 232);
    padding: 0 20px 20px;
}
.row, .header, .footer {
    display: flex;
}
.row {
    padding: 20px;
    margin-bottom: 20px;
}
img {
    height: 200px;
}
.header {    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(68, 67, 67);
    justify-content: center;
    padding: 20px;
}
.first-row-imgs {
    background-color:darkturquoise;
    justify-content: space-between;
}
.second-row-imgs {
    background-color: plum;
    justify-content: space-evenly;
}
.third-row-imgs {
    background-color: white;
    justify-content: space-between;
}
.footer {
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}